**Load csv file**

In [1]:
import pandas as pd # load dataset 
import seaborn as sns # generate heat map
import numpy as np
import matplotlib.pyplot as plt
tableA = pd.read_csv('5. Dataset PCA/MeterA_pca_3.csv', header='infer') # read MeterA csv file
tableA = tableA.drop('Class Attruibute', axis=1)
tableB = pd.read_csv('5. Dataset PCA/MeterB_pca_5.csv', header='infer') # read MeterB csv file
tableB = tableB.drop('Class Attruibute', axis=1)
tableC = pd.read_csv('5. Dataset PCA/MeterC_pca_6.csv', header='infer') # read MeterC csv file
tableC = tableC.drop('Class Attruibute', axis=1)

**Extract common features from each dataset**

In [2]:
tableA_extract = tableA[['PC1','PC2','PC3']][:67]
tableA_extract

         PC1       PC2       PC3
0  -0.526258  5.566278  0.389358
1   1.016687  3.352036  0.894510
2   1.058280  1.844760  0.667599
3  -0.173012  1.540431 -0.850760
4  -0.280666  1.219715 -1.401910
..       ...       ...       ...
62 -2.884711 -0.767628  1.273864
63 -2.831047 -0.682861  0.764677
64 -3.676232 -0.989616  1.137127
65  4.696736  1.629314  2.936891
66  6.036821 -0.932438  0.672652

[67 rows x 3 columns]

In [3]:
tableB_extract = tableB[['PC1','PC2','PC3']][:67]
tableB_extract

         PC1       PC2       PC3
0   0.914365 -2.162769  0.436334
1   0.866350 -2.170359  0.444587
2   0.827614 -2.131012  0.144530
3   0.808412 -2.068897  0.125245
4   0.839467 -2.162049  0.158651
..       ...       ...       ...
62 -2.390696  0.798375 -0.436249
63 -2.429585  0.832941 -0.426300
64 -2.486759  0.867436 -0.380722
65 -2.578565  0.878013 -0.349289
66 -2.610512  0.871766 -0.295754

[67 rows x 3 columns]

In [4]:
tableC_extract = tableC[['PC1','PC2','PC3']][:67]
tableC_extract

          PC1       PC2        PC3
0    0.321708 -0.351911  -0.364762
1    0.248324 -0.417809  -0.313521
2    0.258434 -0.426496  -0.370236
3    0.234022 -0.450655  -0.331455
4    0.282905 -0.381927  -0.374808
..        ...       ...        ...
62  -4.050253  9.304368   2.515105
63  10.598332  8.331448  -9.175824
64  14.908083  8.495496  -6.940907
65  11.732227  5.751882   9.855336
66   7.707298 -0.902089  16.936664

[67 rows x 3 columns]

In [5]:
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
# define the StandardScaler
scaler = StandardScaler()\
# PCA take two principal components
pca = PCA(n_components=2)
#Scaling the data
tableA_Scaled = scaler.fit(tableA_extract).transform(tableA_extract)
tableB_Scaled = scaler.fit(tableB_extract).transform(tableB_extract)
tableC_Scaled = scaler.fit(tableC_extract).transform(tableC_extract)
tableA_Scaled

array([[-6.78860702e-03,  3.43425847e+00,  5.29819592e-01],
       [ 7.47115260e-01,  1.92033883e+00,  1.14887065e+00],
       [ 7.67438337e-01,  8.89785958e-01,  8.70797759e-01],
       [ 1.65812074e-01,  6.81710385e-01, -9.89914246e-01],
       [ 1.13210605e-01,  4.62430603e-01, -1.66533464e+00],
       [ 1.09829287e-01,  6.20811546e-01, -1.72401102e+00],
       [ 3.79991103e-01,  6.78881887e-01, -1.23770363e+00],
       [ 2.37386362e-01,  6.85157410e-01, -9.69882545e-01],
       [ 5.63462055e-01,  4.94446954e-01, -1.29213677e+00],
       [-7.95308615e-02,  3.22594506e-02, -6.80401622e-01],
       [-5.10607742e-01, -4.14519599e-01, -8.95894225e-01],
       [-6.47556438e-01, -9.00639665e-01, -1.02369199e+00],
       [-7.35183504e-01, -6.08038436e-01, -1.17197452e-01],
       [-8.76630786e-01, -8.39202429e-01, -7.58476413e-02],
       [-9.37284772e-01, -9.19654131e-01, -1.82600678e-01],
       [-8.02203637e-01, -9.86568051e-01, -1.09012436e-01],
       [-1.57048248e+00, -1.09851119e+00, -8.15021335e-01],
       [ 1.41620815e+00,  1.25409616e+00,  1.43858361e+00],
       [ 1.15148476e+00,  4.68921874e-01,  9.28310553e-01],
       [ 1.06429070e+00,  3.22599449e-01,  9.46291478e-01],
       [ 9.35984697e-01,  1.17746282e+00, -2.05953367e-01],
       [ 5.29017653e-01,  1.08435859e+00,  2.71773329e-01],
       [ 3.92224773e-01,  5.65871716e-01,  4.63962609e-01],
       [ 3.84383845e-02,  9.37796937e-01,  1.25742635e-01],
       [-3.06717476e-01,  2.84146503e-01,  2.32990446e-01],
       [-5.72642087e-01,  3.61756374e-02, -6.74577956e-01],
       [-1.15567423e+00, -3.62975514e-01, -3.54120610e-01],
       [-1.04329583e+00, -5.02840593e-01,  7.68144436e-01],
       [-1.14244480e+00, -3.60142114e-01,  3.52330337e-01],
       [-1.14236274e+00, -3.62278596e-01,  9.17016732e-01],
       [-1.09752113e+00, -2.81157796e-01,  3.54303488e-01],
       [-1.25962202e+00, -4.33757872e-01,  5.18504572e-03],
       [-2.19808031e+00, -3.95071956e-01,  3.76900310e-01],
       [ 1.13703911e+00,  2.22569190e+00, -8.04081704e-02],
       [ 1.33447204e+00,  9.90622311e-01,  1.64352669e-01],
       [ 1.48391849e+00,  1.29492345e-01, -3.07439439e-01],
       [ 9.70197256e-01, -5.04150048e-01, -1.42339157e+00],
       [ 1.09288658e+00, -6.38528778e-02, -2.00097163e+00],
       [ 1.26402110e+00, -6.10002593e-01, -1.57819903e+00],
       [ 1.25777286e+00, -8.06059467e-01, -9.02787854e-01],
       [ 9.50257288e-01, -2.54258791e-01, -1.20028360e+00],
       [ 1.04491602e+00, -5.35353340e-01, -1.73222237e+00],
       [ 2.71866701e-01, -1.41197803e+00, -3.62425762e-01],
       [-4.41999525e-01, -1.46685450e+00, -7.34705239e-01],
       [-3.66459018e-01, -1.48684160e+00, -7.00415048e-01],
       [-2.66736019e-01, -1.55574964e+00, -6.38518708e-01],
       [-3.56312941e-01, -1.46055362e+00, -4.29024246e-01],
       [-3.51108046e-01, -1.38367248e+00, -2.94023260e-01],
       [ 3.75852832e-01,  2.42236822e+00, -5.60088257e-01],
       [ 1.76725407e-01,  1.02290931e+00,  1.06781707e+00],
       [ 4.68597789e-01,  7.05888006e-01, -2.98772777e-01],
       [ 7.98872374e-02,  3.87323331e-01,  1.16207179e+00],
       [ 2.97957913e-01,  4.33490184e-01,  1.62941018e-01],
       [ 7.78000035e-02,  4.36649810e-01,  8.91004014e-01],
       [-8.91464036e-04,  7.58156970e-01,  3.53834737e-01],
       [ 9.34256596e-04,  8.60401069e-01, -5.08568785e-01],
       [-2.04862700e-01,  3.49530777e-02,  1.06464414e+00],
       [-4.97213357e-01, -1.70538547e-01,  2.94157441e-01],
       [-8.30761161e-01, -4.86514711e-01,  5.56603302e-01],
       [-9.88219954e-01, -8.58593565e-01,  3.69026538e-01],
       [-1.33425961e+00, -9.82051114e-01,  1.14407301e+00],
       [-1.08079194e+00, -8.87636860e-01,  1.22553688e+00],
       [-1.15916109e+00, -8.96353391e-01,  1.61375957e+00],
       [-1.13294050e+00, -8.38397216e-01,  9.89763653e-01],
       [-1.54590932e+00, -1.04813103e+00,  1.44619176e+00],
       [ 2.54523759e+00,  7.42481112e-01,  3.65175778e+00],
       [ 3.20002142e+00, -1.00903745e+00,  8.76989533e-01]])

In [6]:
# Calculate the covariance matrix
tableA_covarianceMatrix = np.cov(np.transpose(np.array(tableA_Scaled)))
tableB_covarianceMatrix = np.cov(np.transpose(np.array(tableB_Scaled)))
tableC_covarianceMatrix = np.cov(np.transpose(np.array(tableC_Scaled)))
# Calculate the principal components in the data
pca_tableA = pca.fit(tableA_covarianceMatrix).transform(tableA_covarianceMatrix)
pca_tableB = pca.fit(tableB_covarianceMatrix).transform(tableB_covarianceMatrix)
pca_tableC = pca.fit(tableC_covarianceMatrix).transform(tableC_covarianceMatrix)

In [7]:
# vertically add the two principal component to make a single vector
df_pca_tableA = pd.DataFrame(pca_tableA, columns=['PC1','PC2'])
df_pca_tableB = pd.DataFrame(pca_tableB, columns=['PC1','PC2'])
df_pca_tableC = pd.DataFrame(pca_tableC, columns=['PC1','PC2'])

tableA_pca_vertically = df_pca_tableA['PC1'].append(df_pca_tableA['PC2']).reset_index(drop=True)
tableB_pca_vertically = df_pca_tableB['PC1'].append(df_pca_tableB['PC2']).reset_index(drop=True)
tableC_pca_vertically = df_pca_tableC['PC1'].append(df_pca_tableC['PC2']).reset_index(drop=True)

# print out the correlation between three datasets
print('correlation of data of tableA and tableB is {}'.format(np.corrcoef(tableA_pca_vertically,tableB_pca_vertically)[0,1]))
print('correlation of data of tableB and tableC is {}'.format(np.corrcoef(tableB_pca_vertically,tableC_pca_vertically)[0,1]))
print('correlation of data of tableA and tableC is {}'.format(np.corrcoef(tableA_pca_vertically,tableC_pca_vertically)[0,1]))

correlation of data of tableA and tableB is 0.928182280936152
correlation of data of tableB and tableC is 0.03970312261132252
correlation of data of tableA and tableC is 0.3181649901587743

**Since the correlation between each datasets are all below 0 which indicates a negative relation**