In [1]:
import pandas as pd # load dataset 
import seaborn as sns # generate heat map
import numpy as np
import matplotlib.pyplot as plt
tableA = pd.read_csv('4. Dataset Aggregation File/MeterA_aggregation.csv', header='infer') # read MeterA csv file
tableA = tableA.drop('Class Attruibute', axis=1)
tableB = pd.read_csv('4. Dataset Aggregation File/MeterB_aggregation.csv', header='infer') # read MeterB csv file
tableB = tableB.drop('Class Attruibute', axis=1)
tableC = pd.read_csv('4. Dataset Aggregation File/MeterC_aggregation.csv', header='infer') # read MeterC csv file
tableC = tableC.drop('Class Attruibute', axis=1)

In [2]:
tableA_extract = tableA[["Average Flow Velocity","Average speed of sound","Average Gain"]][:67]
tableA_extract

    Average Flow Velocity  Average speed of sound  Average Gain
0                9.350917             1485.391229     35.064189
1                8.323063             1485.919896     34.975281
2                7.273721             1485.903146     34.920553
3                6.214215             1484.790938     34.878133
4                6.209143             1484.252875     34.882507
..                    ...                     ...           ...
62               3.125155             1484.576833     34.780579
63               3.122619             1484.555313     34.780375
64               2.089232             1484.511438     34.760538
65               9.145977             1487.266104     34.960632
66               7.169202             1486.742083     34.842021

[67 rows x 3 columns]

In [3]:
tableB_extract = tableB[["Average flow velocity","Average speed of sound","Average Gain"]][:67]
tableB_extract

    Average flow velocity  Average speed of sound  Average Gain
0                2.394439             1485.153222     51.475000
1                2.396089             1485.030722     51.475000
2                3.523517             1485.061111     51.475000
3                3.525933             1485.131278     51.475000
4                3.525128             1485.103278     51.475000
..                    ...                     ...           ...
62               6.183078             1505.658889     63.567222
63               6.193783             1505.746167     63.550000
64               6.189289             1505.570500     63.550000
65               6.199967             1505.559500     63.550000
66               6.202361             1505.734444     63.550000

[67 rows x 3 columns]

In [4]:
tableC_extract = tableC[["Average Flow Velocity","Average Speed of Sound","Average Gain"]][:67]
tableC_extract

    Average Flow Velocity  Average Speed of Sound  Average Gain
0               15.917361             1485.476389     15.109722
1               14.729722             1485.268750     15.100000
2               14.743750             1485.106250     15.100000
3               14.724167             1485.181250     15.100000
4               14.705417             1485.238889     15.100000
..                    ...                     ...           ...
62              14.606458             1485.570139     14.950000
63              14.601944             1485.827778     14.950000
64              14.619375             1485.677778     14.950000
65              13.339236             1485.514583     14.950000
66              12.251111             1485.568750     14.950000

[67 rows x 3 columns]

In [5]:
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
scaler = StandardScaler()
pca = PCA(n_components=2)
tableA_Scaled = scaler.fit(tableA_extract).transform(tableA_extract)
tableB_Scaled = scaler.fit(tableB_extract).transform(tableB_extract)
tableC_Scaled = scaler.fit(tableC_extract).transform(tableC_extract)
tableA_Scaled

array([[ 2.18530131e+00,  7.76634303e-01,  3.21316514e+00],
       [ 1.65235322e+00,  1.52926718e+00,  1.93183864e+00],
       [ 1.10826323e+00,  1.50542117e+00,  1.14311074e+00],
       [ 5.58903233e-01, -7.79655549e-02,  5.31777587e-01],
       [ 5.56273112e-01, -8.43974979e-01,  5.94813865e-01],
       [ 5.54607120e-01, -8.67317023e-01,  5.64026819e-01],
       [ 5.57186763e-01, -4.38948651e-01,  5.93348670e-01],
       [ 5.52849861e-01, -1.92450624e-01,  5.02455745e-01],
       [ 5.60873977e-01, -2.39430831e-01,  5.83086301e-01],
       [ 4.26522471e-02, -6.22568654e-01,  2.54621132e-03],
       [-4.96440542e-01, -9.34524345e-01, -5.07637690e-01],
       [-1.03439896e+00, -8.01681404e-01, -9.37200007e-01],
       [-1.03857034e+00, -8.01769669e-01, -9.22533091e-01],
       [-1.03570103e+00, -8.87396079e-01, -9.19599712e-01],
       [-1.03616301e+00, -1.02572716e+00, -9.15204137e-01],
       [-1.04010851e+00, -1.18200041e+00, -9.24007284e-01],
       [-1.58410994e+00, -1.43852373e+00, -1.24359169e+00],
       [ 1.10299477e+00,  2.93036928e+00,  8.58702950e-01],
       [ 5.52239785e-01,  2.23411834e+00,  1.69671109e-01],
       [ 5.47985973e-01,  1.64828940e+00,  2.16579762e-01],
       [ 5.49064390e-01,  1.22051469e+00,  3.33867148e-01],
       [ 5.53301469e-01,  7.66282997e-01,  4.20356978e-01],
       [ 5.51729510e-01,  2.71093110e-01,  4.36483080e-01],
       [ 5.52277085e-01, -3.07735781e-01,  4.96591968e-01],
       [ 1.26092188e-02, -1.35728641e+00, -4.79328131e-03],
       [-5.19174604e-01, -1.23482467e+00, -4.98849540e-01],
       [-1.04800991e+00, -8.78290461e-01, -8.97606815e-01],
       [-1.04569641e+00, -6.15390647e-01, -9.15196634e-01],
       [-1.04572859e+00, -5.03368480e-01, -9.07869184e-01],
       [-1.04575554e+00, -4.87026486e-01, -9.03467593e-01],
       [-1.04385231e+00, -5.14667931e-01, -8.65354584e-01],
       [-1.04385137e+00, -6.16488276e-01, -8.27234089e-01],
       [-1.59144027e+00, -1.10562910e+00, -9.54789835e-01],
       [ 2.12527352e+00,  1.59964780e+00,  2.74549883e+00],
       [ 1.58273473e+00,  1.08861989e+00,  1.67821037e+00],
       [ 1.07464380e+00,  4.65064419e-01,  9.71590240e-01],
       [ 5.11026574e-01, -3.49555283e-01,  1.60876960e-01],
       [ 5.12898186e-01,  7.32964745e-02,  1.53540494e-01],
       [ 5.09444300e-01,  3.32755344e-01,  5.67868359e-02],
       [ 5.12439902e-01,  3.53220206e-01,  1.82854851e-01],
       [ 5.10776222e-01,  4.88568015e-02,  1.31552119e-01],
       [ 5.07874480e-01, -1.04630381e-01,  2.06327940e-01],
       [-5.38852279e-01, -2.89080368e-01, -9.06402495e-01],
       [-1.05889159e+00, -6.28619135e-01, -1.23479752e+00],
       [-1.05560216e+00, -5.08381126e-01, -1.22306248e+00],
       [-1.05628379e+00, -5.75202640e-01, -1.17175976e+00],
       [-1.05903318e+00, -6.23754548e-01, -1.14536681e+00],
       [-1.05736408e+00, -6.57062091e-01, -1.12190421e+00],
       [ 1.58283788e+00,  4.97630244e-01,  2.10336514e+00],
       [ 1.09019366e+00,  2.78123058e-01,  1.25600105e+00],
       [ 5.57921172e-01,  3.13180258e-01,  5.09783213e-01],
       [ 5.59601898e-01,  2.06613489e-01,  4.68733825e-01],
       [ 5.54003547e-01,  9.61032294e-02,  4.96584455e-01],
       [ 5.61142833e-01,  8.84674903e-03,  4.96590472e-01],
       [ 5.56490301e-01, -5.46833033e-02,  5.46428001e-01],
       [ 5.56075626e-01, -4.76248831e-02,  5.78690762e-01],
       [ 5.18616131e-02, -7.32803470e-02, -4.14380516e-02],
       [-4.96650526e-01, -1.01485555e-01, -5.56025039e-01],
       [-1.04024737e+00, -1.78125932e-01, -8.99075009e-01],
       [-1.04037773e+00, -2.56692498e-01, -9.26924171e-01],
       [-1.04162871e+00, -3.36060574e-01, -9.02003894e-01],
       [-1.04105654e+00, -3.58216725e-01, -8.80015518e-01],
       [-1.04279271e+00, -3.82774560e-01, -8.74144219e-01],
       [-1.04410762e+00, -4.13411349e-01, -8.77085129e-01],
       [-1.57992481e+00, -4.75873670e-01, -1.16296862e+00],
       [ 2.07903869e+00,  3.44578628e+00,  1.72072796e+00],
       [ 1.05406925e+00,  2.69976764e+00,  1.13418551e-02]])

In [6]:
tableA_covarianceMatrix = np.cov(np.transpose(np.array(tableA_Scaled)))
tableB_covarianceMatrix = np.cov(np.transpose(np.array(tableB_Scaled)))
tableC_covarianceMatrix = np.cov(np.transpose(np.array(tableC_Scaled)))

pca_tableA = pca.fit(tableA_covarianceMatrix).transform(tableA_covarianceMatrix)
pca_tableB = pca.fit(tableB_covarianceMatrix).transform(tableB_covarianceMatrix)
pca_tableC = pca.fit(tableC_covarianceMatrix).transform(tableC_covarianceMatrix)

In [7]:
df_pca_tableA = pd.DataFrame(pca_tableA, columns=['PC1','PC2'])
df_pca_tableB = pd.DataFrame(pca_tableB, columns=['PC1','PC2'])
df_pca_tableC = pd.DataFrame(pca_tableC, columns=['PC1','PC2'])

tableA_pca_vertically = df_pca_tableA['PC1'].append(df_pca_tableA['PC2']).reset_index(drop=True)
tableB_pca_vertically = df_pca_tableB['PC1'].append(df_pca_tableB['PC2']).reset_index(drop=True)
tableC_pca_vertically = df_pca_tableC['PC1'].append(df_pca_tableC['PC2']).reset_index(drop=True)
print('correlation of data of tableA and tableB is {}'.format(np.corrcoef(tableA_pca_vertically,tableB_pca_vertically)[0,1]))
print('correlation of data of tableB and tableC is {}'.format(np.corrcoef(tableB_pca_vertically,tableC_pca_vertically)[0,1]))
print('correlation of data of tableA and tableC is {}'.format(np.corrcoef(tableA_pca_vertically,tableC_pca_vertically)[0,1]))

SyntaxError: closing parenthesis ')' does not match opening parenthesis '[' (<ipython-input-7-9ca39bf10398>, line 5)