**Load csv file**

In [1]:
import pandas as pd # load dataset 
import seaborn as sns # generate heat map
import numpy as np
import matplotlib.pyplot as plt
tableA = pd.read_csv('5. Dataset PCA/MeterA_pca_all.csv', header='infer') # read MeterA csv file
tableA = tableA.drop('Class Attruibute', axis=1)
tableB = pd.read_csv('5. Dataset PCA/MeterB_pca_all.csv', header='infer') # read MeterB csv file
tableB = tableB.drop('Class Attruibute', axis=1)
tableC = pd.read_csv('5. Dataset PCA/MeterC_pca_all.csv', header='infer') # read MeterC csv file
tableC = tableC.drop('Class Attruibute', axis=1)

**Extract common features from each dataset**

In [2]:
tableA_extract = tableA[['PC1','PC2','PC3']][:75]
tableA_extract

         PC1       PC2       PC3
0  -0.526258  5.566278  0.389358
1   1.016687  3.352036  0.894510
2   1.058280  1.844760  0.667599
3  -0.173012  1.540431 -0.850760
4  -0.280666  1.219715 -1.401910
..       ...       ...       ...
70  2.674013 -1.418282  0.011342
71  3.676615 -1.468566 -0.317489
72  3.164433 -1.281849 -0.273131
73  3.959184 -1.464863 -0.254494
74  2.963067 -2.249923 -0.321901

[75 rows x 3 columns]

In [3]:
tableB_extract = tableB[['PC1','PC2','PC3']][:75]
tableB_extract

         PC1       PC2       PC3
0  -1.078884  2.306985 -1.566801
1  -1.115494  2.243641 -1.536997
2  -1.119305  2.192690 -1.414351
3  -1.058113  2.148865 -1.273970
4  -1.092378  2.204525 -1.444502
..       ...       ...       ...
70  4.550183 -3.202266 -1.527027
71  4.735872 -3.386516 -1.556820
72  4.433571 -3.215012 -1.466567
73  5.140769 -3.448732 -1.407565
74  4.479070 -3.287830 -1.630329

[75 rows x 3 columns]

In [4]:
tableC_extract = tableC[['PC1','PC2','PC3']][:75]
tableC_extract

         PC1       PC2       PC3
0   0.102593 -0.829562 -1.676971
1  -0.040133 -0.770644 -1.239189
2  -0.037532 -0.790725 -1.256575
3  -0.046404 -0.793948 -1.238038
4  -0.015392 -0.764792 -1.264105
..       ...       ...       ...
70 -1.564214  0.162128  2.687118
71 -2.896758  1.623956  2.658557
72 -3.816394  2.601285  1.310960
73 -3.438761  2.526098  1.968724
74 -4.008864  4.203415  1.438581

[75 rows x 3 columns]

In [5]:
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
# define the StandardScaler
scaler = StandardScaler()\
# PCA take two principal components
pca = PCA(n_components=2)
#Scaling the data
tableA_Scaled = scaler.fit(tableA_extract).transform(tableA_extract)
tableB_Scaled = scaler.fit(tableB_extract).transform(tableB_extract)
tableC_Scaled = scaler.fit(tableC_extract).transform(tableC_extract)
tableA_Scaled

array([[-0.18753454,  3.43233479,  0.54897947],
       [ 0.48957504,  1.9820094 ,  1.19213834],
       [ 0.50782796,  0.9947463 ,  0.90323641],
       [-0.03251534,  0.79541122, -1.02993762],
       [-0.07975871,  0.58534259, -1.73166102],
       [-0.0827956 ,  0.73707052, -1.79262244],
       [ 0.15984695,  0.79270154, -1.2873767 ],
       [ 0.03176823,  0.79871345, -1.00912582],
       [ 0.32462915,  0.61601405, -1.34392964],
       [-0.25286711,  0.17324136, -0.70837159],
       [-0.64003356, -0.25477013, -0.93225616],
       [-0.76303236, -0.72047007, -1.06503078],
       [-0.84173354, -0.44015995, -0.12323446],
       [-0.9687727 , -0.66161359, -0.08027436],
       [-1.02324833, -0.73868581, -0.1911847 ],
       [-0.90192686, -0.80278892, -0.1147307 ],
       [-1.59194714, -0.91002973, -0.84823382],
       [ 1.09051266,  1.34375316,  1.49313364],
       [ 0.85275458,  0.59156118,  0.96298894],
       [ 0.77444229,  0.45138523,  0.9816701 ],
       [ 0.65920582,  1.2703389 , -0.21544682],
       [ 0.29369333,  1.18114565,  0.28088407],
       [ 0.17083447,  0.68443852,  0.48055781],
       [-0.14691447,  1.04074051,  0.12916648],
       [-0.456912  ,  0.41454755,  0.24059086],
       [-0.69574895,  0.17699304, -0.70232113],
       [-1.21939217, -0.20539123, -0.36938416],
       [-1.11846088, -0.33938109,  0.79658544],
       [-1.20751031, -0.20267685,  0.36457823],
       [-1.20743661, -0.20472359,  0.9512553 ],
       [-1.16716266, -0.12701038,  0.36662822],
       [-1.31275161, -0.27320028,  0.003914  ],
       [-2.15561649, -0.23613942,  0.39010503],
       [ 0.83978039,  2.27453571, -0.08501249],
       [ 1.01710237,  1.09134689,  0.16928011],
       [ 1.15132588,  0.26638985, -0.32088508],
       [ 0.68993341, -0.34063554, -1.48029592],
       [ 0.80012533,  0.08116636, -2.08036878],
       [ 0.95382772, -0.4420416 , -1.64113208],
       [ 0.94821594, -0.62986284, -0.93941825],
       [ 0.67202457, -0.1012413 , -1.24849942],
       [ 0.75704116, -0.37052809, -1.80115357],
       [ 0.06273633, -1.21032897, -0.37801274],
       [-0.57841392, -1.26290028, -0.76478996],
       [-0.51056814, -1.2820478 , -0.7291644 ],
       [-0.42100314, -1.34806127, -0.66485762],
       [-0.50145556, -1.25686408, -0.44720478],
       [-0.49678085, -1.18321244, -0.30694643],
       [ 0.15613021,  2.46295036, -0.58337284],
       [-0.02271366,  1.12227763,  1.10792828],
       [ 0.23942796,  0.81857323, -0.31188091],
       [-0.10968769,  0.5133903 ,  1.20585358],
       [ 0.08616984,  0.55761785,  0.16781349],
       [-0.11156231,  0.56064475,  0.92422956],
       [-0.18223809,  0.86864657,  0.36614121],
       [-0.18059834,  0.96659576, -0.52984704],
       [-0.36543237,  0.17582183,  1.10463178],
       [-0.62800355, -0.02103784,  0.30413989],
       [-0.92757545, -0.32374099,  0.57680623],
       [-1.06899515, -0.68019017,  0.38192463],
       [-1.37978645, -0.79846172,  1.18715387],
       [-1.15213755, -0.70801346,  1.2717902 ],
       [-1.22252385, -0.71636385,  1.67513151],
       [-1.19897414, -0.6608422 ,  1.02683521],
       [-1.56987706, -0.86176586,  1.50103808],
       [ 2.1045367 ,  0.85362919,  3.79249583],
       [ 2.69262282, -0.82431446,  0.90966931],
       [ 1.75627531, -0.5289326 ,  1.38389141],
       [ 1.50707416, -1.40738676,  0.37622453],
       [ 1.46252045, -1.36874546, -0.45627138],
       [ 1.21687983, -1.14254145,  0.06769052],
       [ 1.65686416, -1.17547723, -0.35097764],
       [ 1.43209733, -1.05317842, -0.29450102],
       [ 1.78086761, -1.17305223, -0.2707724 ],
       [ 1.34372925, -1.68726531, -0.35659492]])

In [6]:
# Calculate the covariance matrix
tableA_covarianceMatrix = np.cov(np.transpose(np.array(tableA_Scaled)))
tableB_covarianceMatrix = np.cov(np.transpose(np.array(tableB_Scaled)))
tableC_covarianceMatrix = np.cov(np.transpose(np.array(tableC_Scaled)))
# Calculate the principal components in the data
pca_tableA = pca.fit(tableA_covarianceMatrix).transform(tableA_covarianceMatrix)
pca_tableB = pca.fit(tableB_covarianceMatrix).transform(tableB_covarianceMatrix)
pca_tableC = pca.fit(tableC_covarianceMatrix).transform(tableC_covarianceMatrix)

In [7]:
# vertically add the two principal component to make a single vector
df_pca_tableA = pd.DataFrame(pca_tableA, columns=['PC1','PC2'])
df_pca_tableB = pd.DataFrame(pca_tableB, columns=['PC1','PC2'])
df_pca_tableC = pd.DataFrame(pca_tableC, columns=['PC1','PC2'])

tableA_pca_vertically = df_pca_tableA['PC1'].append(df_pca_tableA['PC2']).reset_index(drop=True)
tableB_pca_vertically = df_pca_tableB['PC1'].append(df_pca_tableB['PC2']).reset_index(drop=True)
tableC_pca_vertically = df_pca_tableC['PC1'].append(df_pca_tableC['PC2']).reset_index(drop=True)

# print out the correlation between three datasets
print('correlation of data of tableA and tableB is {}'.format(np.corrcoef(tableA_pca_vertically,tableB_pca_vertically)[0,1]))
print('correlation of data of tableB and tableC is {}'.format(np.corrcoef(tableB_pca_vertically,tableC_pca_vertically)[0,1]))
print('correlation of data of tableA and tableC is {}'.format(np.corrcoef(tableA_pca_vertically,tableC_pca_vertically)[0,1]))

correlation of data of tableA and tableB is -0.46268571344626414
correlation of data of tableB and tableC is -0.14232986673430265
correlation of data of tableA and tableC is 0.07397698302174852

**Since the correlation between each datasets are all below 0 which indicates a negative relation**