**Load data from csv file**

In [1]:
import pandas as pd # load dataset 
tableA = pd.read_csv('../3. Dataset No Outlier File/MeterA_no_outlier.csv', header='infer') # read MeterA csv file
tableB = pd.read_csv('../3. Dataset No Outlier File/MeterB_no_outlier.csv', header='infer') # read MeterB csv file
tableC = pd.read_csv('../3. Dataset No Outlier File/MeterC_no_outlier.csv', header='infer') # read MeterC csv file
tableC

,Unnamed: 0,Profile factor,Symmetry,Crossflow,Flow Velocity1,Flow Velocity2,Flow Velocity3,Flow Velocity4,Speed of Sound1,Speed of Sound2,...,Gain8,Transit time1,Transit time2,Transit time3,Transit time4,Transit time5,Transit time6,Transit time7,Transit time8,Class Attruibute
0,0,1.102690,1.004425,1.006741,15.228611,16.676389,16.713056,15.051389,1485.447222,1485.416667,...,17.7,86.585833,85.576667,106.985000,105.530833,106.714444,105.255833,86.461111,85.460833,1
1,1,1.101432,1.003722,1.008256,14.106667,15.407500,15.473889,13.930833,1485.222222,1485.211111,...,17.7,86.560000,85.628056,106.942500,105.603611,106.676111,105.326667,86.433889,85.510556,1
2,2,1.098568,1.002528,1.009103,14.136667,15.388056,15.484444,13.965833,1485.061111,1485.047222,...,17.7,86.572222,85.635278,106.954722,105.614722,106.686389,105.336389,86.444722,85.519167,1
3,3,1.099516,1.007024,1.009363,14.146389,15.405000,15.439167,13.906111,1485.144444,1485.113889,...,17.7,86.566111,85.630833,106.952500,105.609444,106.681389,105.331667,86.439722,85.515833,1
4,4,1.100336,1.000661,1.006709,14.056944,15.363611,15.452222,13.948889,1485.202778,1485.180556,...,17.7,86.561111,85.630833,106.946667,105.603889,106.676111,105.328889,86.436944,85.512222,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147,147,1.106850,0.993131,1.003427,5.231389,5.772500,5.829444,5.250556,1484.105556,1484.030556,...,18.1,86.331389,85.985556,106.608333,106.103333,106.339444,105.831111,86.229167,85.881944,4
148,148,1.106124,0.994477,1.002730,9.273056,10.231944,10.312778,9.300556,1484.094444,1484.011111,...,18.1,86.466667,85.851111,106.804167,105.913611,106.538889,105.637500,86.365278,85.750556,4
149,149,1.103042,0.996682,1.003806,11.686389,12.843611,12.931111,11.680556,1484.052778,1483.986111,...,18.1,86.548056,85.774167,106.921111,105.799444,106.654722,105.524444,86.445278,85.671111,4
150,150,1.110915,0.995059,1.007858,12.745556,14.051944,14.223611,12.706944,1484.116667,1484.022222,...,18.1,86.580556,85.735833,106.968333,105.745833,106.707778,105.467778,86.476389,85.633889,4
151,151,1.102931,0.990570,1.003295,12.728611,13.998889,14.170278,12.811667,1483.988889,1483.902778,...,18.1,86.586389,85.741667,106.978611,105.755000,106.715556,105.480000,86.485278,85.637222,4

**Dataset A Drop individual speed of sound column since average speed of sound column is already existed**

In [2]:
for i in range(8): # drop individual speed of sound column since average speed of sound column is already existed
    tableA.drop(f'Speed of Sound{i+1}', axis=1, inplace=True)
pd.set_option('display.max_columns', None) # display all columns
pd.set_option('display.max_rows', None) # display all rows

**Dataset A Get average flow velocity of eight paths for each row, drop each individual flow velocity column and append new column 'Average Flow Velocity'**

In [ ]:
# get average flow velocity of eight paths for each row 
tableA["Average Flow Velocity"] = tableA.loc[:, ["Flow Velocity1","Flow Velocity2","Flow Velocity3","Flow Velocity4","Flow Velocity5","Flow Velocity6","Flow Velocity7","Flow Velocity8"]].mean(axis = 1)
for i in range(8): # drop individual flow velocity column
    tableA.drop(f'Flow Velocity{i+1}', axis=1, inplace=True)
column_to_move = tableA.pop("Average Flow Velocity")
tableA.insert(4, "Average Flow Velocity", column_to_move)
# drop 'Unnamed' column
tableA.drop(tableA.filter(regex="Unname"),axis=1, inplace=True)

**Dataset A Get average gain of eight paths for each row, drop each individual gain column and append new column 'Average Gain'**

In [ ]:
# get average flow velocity of eight paths for each row 
tableA["Average Gain"] = tableA.loc[:, ["Gain1","Gain2","Gain3","Gain4","Gain5","Gain6","Gain7","Gain8","GainA1","GainA2","GainA3","GainA4","GainA5","GainA6","GainA7","GainA8"]].mean(axis = 1)
for i in range(8): # drop individual flow velocity column
    tableA.drop(f'Gain{i+1}', axis=1, inplace=True)
    tableA.drop(f'GainA{i+1}', axis=1, inplace=True)
column_to_move = tableA.pop("Average Gain")
tableA.insert(5, "Average Gain", column_to_move)
# write data to csv file 
tableA = tableA.reset_index(drop=True)
tableA.to_csv('MeterA_aggregation.csv', index = True)

**Dataset B Drop individual flow velocity and speed of sound column since average flow velocity column and average speed of sound column is already included **

In [ ]:
for i in range(4): # drop individual flow velocity and speed of sound column since average flow velocity column and average speed of sound column is already included
    tableB.drop(f'Flow Velocity{i+1}', axis=1, inplace=True)
    tableB.drop(f'Speed of Sound{i+1}', axis=1, inplace=True)

**Dataset B Get average signal strength of four paths for each row, drop each individual flow velocity column and append new column 'Average Signal Strength'**

In [ ]:
# get average signal strength of eight paths for each row 
tableB["Average Signal Strength"] = tableB.loc[:, ["Signal Strength1","Signal Strength2","Signal Strength3","Signal Strength4","Signal Strength5","Signal Strength6","Signal Strength7","Signal Strength8"]].mean(axis = 1)
for i in range(8): # drop individual flow velocity column
    tableB.drop(f'Signal Strength{i+1}', axis=1, inplace=True)
column_to_move = tableB.pop("Average Signal Strength")
tableB.insert(7, "Average Signal Strength", column_to_move)
# drop 'Unnamed' column
tableB.drop(tableB.filter(regex="Unname"),axis=1, inplace=True)
tableB

**Dataset B Get average turbulence of four paths for each row, drop each individual turbulence column and append new column 'Average Turbulence'**

In [ ]:
# get average turbulence of eight paths for each row 
tableB["Average Turbulence"] = tableB.loc[:, ["Turbulence1","Turbulence2","Turbulence3","Turbulence4"]].mean(axis = 1)
for i in range(4): # drop individual turbulence column
    tableB.drop(f'Turbulence{i+1}', axis=1, inplace=True)
column_to_move = tableB.pop("Average Turbulence")
tableB.insert(8, "Average Turbulence", column_to_move)
tableB

**Dataset B Get average signal quality of four paths for each row, drop each individual signal quality column and append new column 'Average Signal Quality'**

In [ ]:
# get average signal quality of eight paths for each row 
tableB["Average Signal Quality"] = tableB.loc[:, ["Signal Quality1","Signal Quality2","Signal Quality3","Signal Quality4","Signal Quality5","Signal Quality6","Signal Quality7","Signal Quality8"]].mean(axis = 1)
for i in range(8): # drop individual signal quality column
    tableB.drop(f'Signal Quality{i+1}', axis=1, inplace=True)
column_to_move = tableB.pop("Average Signal Quality")
tableB.insert(10, "Average Signal Quality", column_to_move)
# drop 'Unnamed' column
tableB.drop(tableB.filter(regex="Unname"),axis=1, inplace=True)
tableB

**Dataset B Get average gain of four paths for each row, drop each individual gain column and append new column 'Average Gain'**

In [ ]:
# get average gain of eight paths for each row 
tableB["Average Gain"] = tableB.loc[:, ["Gain1","Gain2","Gain3","Gain4","Gain5","Gain6","Gain7","Gain8"]].mean(axis = 1)
for i in range(8): # drop individual gain column
    tableB.drop(f'Gain{i+1}', axis=1, inplace=True)
column_to_move = tableB.pop("Average Gain")
tableB.insert(10, "Average Gain", column_to_move)
# drop 'Unnamed' column
tableB.drop(tableB.filter(regex="Unname"),axis=1, inplace=True)
tableB

**Dataset B Get average transit time of four paths for each row, drop each individual transit time column and append new column 'Average Transit Time'**

In [ ]:
# get average transit time of eight paths for each row 
tableB["Average Transit Time"] = tableB.loc[:, ["Transit time1","Transit time2","Transit time3","Transit time4","Transit time5","Transit time6","Transit time7","Transit time8"]].mean(axis = 1)
for i in range(8): # drop individual transit time column
    tableB.drop(f'Transit time{i+1}', axis=1, inplace=True)
column_to_move = tableB.pop("Average Transit Time")
tableB.insert(11, "Average Transit Time", column_to_move)
# drop 'Unnamed' column
tableB.drop(tableB.filter(regex="Unname"),axis=1, inplace=True)
tableB

**Write data back to csv file**

In [ ]:
# write data to csv file 
tableB= tableB.reset_index(drop=True)
tableB.to_csv('MeterB_aggregation.csv', index = True)

**Dataset C Get average flow velocity of four paths for each row drop each individual flow velocity column and append new column 'Average Flow Velocity'**

In [ ]:
# get average flow velocity of eight paths for each row 
tableC["Average Flow Velocity"] = tableC.loc[:, ["Flow Velocity1","Flow Velocity2","Flow Velocity3","Flow Velocity4"]].mean(axis = 1)
for i in range(4): # drop individual flow velocity column
    tableC.drop(f'Flow Velocity{i+1}', axis=1, inplace=True)
column_to_move = tableC.pop("Average Flow Velocity")
tableC.insert(4, "Average Flow Velocity", column_to_move)
# drop 'Unnamed' column
tableC.drop(tableC.filter(regex="Unname"),axis=1, inplace=True)
tableC

**Dataset C Get average speed of sound of four paths for each row drop each individual speed of sound column and append new column 'Average Speed of Sound'**

In [ ]:
# get average speed of sound of eight paths for each row 
tableC["Average Speed of Sound"] = tableC.loc[:, ["Speed of Sound1","Speed of Sound2","Speed of Sound3","Speed of Sound4"]].mean(axis = 1)
for i in range(4): # drop individual speed of sound column
    tableC.drop(f'Speed of Sound{i+1}', axis=1, inplace=True)
column_to_move = tableC.pop("Average Speed of Sound")
tableC.insert(4, "Average Speed of Sound", column_to_move)
# drop 'Unnamed' column
tableC.drop(tableC.filter(regex="Unname"),axis=1, inplace=True)
tableC

**Dataset C Get average signal quality of four paths for each row drop each individual signal quality column and append new column 'Average Signal Quality'**

In [ ]:
# get average signal strength of eight paths for each row 
tableC["Average Signal Strength"] = tableC.loc[:, ["Signal Strength1","Signal Strength2","Signal Strength3","Signal Strength4","Signal Strength5","Signal Strength6","Signal Strength7","Signal Strength8"]].mean(axis = 1)
for i in range(8): # drop individual signal strength column
    tableC.drop(f'Signal Strength{i+1}', axis=1, inplace=True)
column_to_move = tableC.pop("Average Signal Strength")
tableC.insert(4, "Average Signal Strength", column_to_move)
# drop 'Unnamed' column
tableC.drop(tableC.filter(regex="Unname"),axis=1, inplace=True)
tableC

**Dataset C Get average signal quality of four paths for each row drop each individual signal quality column and append new column 'Average Signal Quality'**

In [ ]:
# get average signal quality of eight paths for each row 
tableC["Average Signal Quality"] = tableC.loc[:, ["Signal Quality1","Signal Quality2","Signal Quality3","Signal Quality4","Signal Quality5","Signal Quality6","Signal Quality7","Signal Quality8"]].mean(axis = 1)
for i in range(8): # drop individual signal quality of sound column
    tableC.drop(f'Signal Quality{i+1}', axis=1, inplace=True)
column_to_move = tableC.pop("Average Signal Quality")
tableC.insert(4, "Average Signal Quality", column_to_move)
# drop 'Unnamed' column
tableC.drop(tableC.filter(regex="Unname"),axis=1, inplace=True)
tableC

**Dataset C Get average gain of four paths for each row drop each individual gain column and append new column 'Average Gain'**

In [ ]:
# get average gain of eight paths for each row 
tableC["Average Gain"] = tableC.loc[:, ["Gain1","Gain2","Gain3","Gain4","Gain5","Gain6","Gain7","Gain8"]].mean(axis = 1)
for i in range(8): # drop individual gain of sound column
    tableC.drop(f'Gain{i+1}', axis=1, inplace=True)
column_to_move = tableC.pop("Average Gain")
tableC.insert(4, "Average Gain", column_to_move)
# drop 'Unnamed' column
tableC.drop(tableC.filter(regex="Unname"),axis=1, inplace=True)
tableC

**Dataset C Get average transit time of four paths for each row drop each individual transit time column and append new column 'Average Transit Time'**

In [ ]:
# get average gain of eight paths for each row 
tableC["Average Transit Time"] = tableC.loc[:, ["Transit time1","Transit time2","Transit time3","Transit time4","Transit time5","Transit time6","Transit time7","Transit time8"]].mean(axis = 1)
for i in range(8): # drop individual gain of sound column
    tableC.drop(f'Transit time{i+1}', axis=1, inplace=True)
column_to_move = tableC.pop("Average Transit Time")
tableC.insert(4, "Average Transit Time", column_to_move)
# drop 'Unnamed' column
tableC.drop(tableC.filter(regex="Unname"),axis=1, inplace=True)
tableC

**Write data back to csv file**

In [ ]:
# write data to csv file
tableC.drop(54, axis=0, inplace=True)
tableC= tableC.reset_index(drop=True)
tableC.to_csv('MeterC_aggregation.csv', index = True)